* {
  box-sizing: border-box
}

table {
  border-collapse: collapse
}

table,
tr,
td {
  padding: 0;
  margin: 0;
}

td,
th {
  border: solid black 1px;
  width: 70px;
  height: 70px;
  font-size: 30px;
  line-height: 1;
}

th {
  font-size: 20px;
  vertical-align: middle;
  text-align: center;
}

.black {
  background: #ddd;
}

.selected {
  background-color: #f4d4d4
}

#errors {
  color: red;
  font-size: 18px;
}
